.app {
    display: grid;
    width: 30%;
    grid-template-columns: 60px 60px 60px 60px;
    border: 2px solid teal;
    border-radius: 4px;
    row-gap: 14px;
    column-gap: 14px;
}


#result{
    margin: 0 0 0 0;
    grid-area: 1 / 1 / span 2 / span 3
}

button{
    background: teal;
    color: white;
    border: 1px solid white ;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgb(5, 190, 190);
}